[program:laravel-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /opt/mf-logist/artisan queue:work --sleep=3 --tries=3
autostart=true
autorestart=true
numprocs=1
user=cargo
redirect_stderr=true
stdout_logfile=/opt/mf-logist/storage/logs/worker.log
